language = "nodejs"
# run = "cd frontend-Nutricionlite && npm i"
#run = "cd frontend-Nutricionlite && npm start"
#run = "cd backend-Nutricionlite && npm i morgan nodemon express mysql"
#run = "cd backend-Nutricionlite && npm i mysql"